
<h2 class="section-title dark">Recipes</h2>

	<div class="container" data-no-turbolink="true">
	  <div class="filter-block">
	    <span class="block-title">Filter by:</span>
	    <ul class="clean-list filters-list">
	      <li class="text">
	        <%= link_to @filter_options.first, recipes_index_path(search: @filter_options.first) %>
	      </li>
	      <li class="text">
	        <%= link_to @filter_options[2], recipes_index_path(search: @filter_options[2]) %>
	      </li>
	      <li class="text">
	        <%= link_to @filter_options[3], recipes_index_path(search: @filter_options[3]) %>
	      </li>
	      <li class="text">
	        <%= link_to @filter_options[4], recipes_index_path(search: @filter_options[4]) %>
	      </li>
	      <li class="text">
	        <%= link_to @filter_options[5], recipes_index_path(search: @filter_options[5]) %>
	      </li>
	      <li class="text">
	        <%= link_to @filter_options[6], recipes_index_path(search: @filter_options[6]) %>
	      </li>
	      <li class="text">
	        <%= link_to @filter_options[7], recipes_index_path(search: @filter_options[7]) %>
	      </li>
	    </ul>
	  </div>
	</div>

<!-- 	<p id="notice"><%= notice %></p> -->

	<div class="container">
	  <div class="row isotope-container" data-default-selection="*">

	    <% @recipes.each do |recipe| %>
	    	<% cache recipe do %>

	    <div class="col-xs-12 col-lg-8 recipe-box-wrapper isotope-item chicken">
	      <div class="recipe-box">
	        <div class="box-cover">

	         <%= link_to(image_tag(recipe["image_url"], class:"recipe_img"), recipe['source_url'])%>

	        </div>
	        <div class="box-body">
	          <h5 class="box-title">                                 
	            <%= link_to(sanitize(recipe["title"]), recipe['source_url']) %>
	          </h5>

	          <% if logged_in? %>
	          <p class="recipe-buttons">                                 
	            <i class="form-icon icon-heart-o"></i>
	          </p>
	          <% end %>

	        </div>
	      </div>
	    </div>
			<% end %>
	    <% end %>

	  </div>
	</div>

<div class="container">
  <div class="pagination">
    <ul class="page-numbers">
      <li>
        <%= link_to 1, recipes_index_path(search: @search_term, page: 1),{ :class=>"page-numbers" } %>
      </li>
      <li>
        <%= link_to 2, recipes_index_path(search: @search_term, page: 2),{ :class=>"page-numbers" } %> 
      </li>
      <li>
        <%= link_to 3, recipes_index_path(search: @search_term, page: 3),{ :class=>"page-numbers" } %>
      </li>
      <li>
        <%= link_to 4, recipes_index_path(search: @search_term, page: 4),{ :class=>"page-numbers" } %>
      </li>
      <li>
        <%= link_to 5, recipes_index_path(search: @search_term, page: 5),{ :class=>"page-numbers" } %>
      </li>
    </ul>
  </div>
</div>


</div>

