<h1 class="section-title dark">User List</h1>

<section class="section section-contact">
  <div class="row row-fit">
    <div class="col-md-18 centered">
      <div class="contact-area-block">


        <table border="1" class="table table-striped table-condensed">
          <tr>
            <th>Email</th>
            <th>Is Active?</th>
            <th>Actions</th>
          </tr>
          <% @users.each do |user| %>
            <tr class=<%= cycle('even', 'odd') %>>
              <td><%= user.email %></td>
              <td>          
                <% if user.status %>

                <%= "Active" %>

              <% else %>

                <%= "Inactive" %>

                <% end %>
              </td>
              <td>

              <ul class="clean-list social-platforms">
                <li>
                  <%= link_to raw('<i class="icon-eye3"></i>'), user %>
                </li>
                <li>
                  <%= link_to raw('<i class="icon-pencil2"></i>'), edit_user_path(user) %>
                </li>
                <li>
                  <%= link_to raw('<i class="icon-trash3"></i>'), user, method: :delete, data: { confirm: 'Are you sure?' } %>
                </li>
            </ul>
                
              </td>
            </tr>
          <% end %>
        </table><br>

            <!-- SOME INFO  -->
        <div class="contact-blocks">
          <div class="row row-fit">

            <div class="col-md-24">
              <div class="contact-block">
                <span class="title"><%= link_to 'New User', new_user_path,{ :class=>"btn btn-show" }%></span>
                <p class="body"></p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
