
  <!-- Site Intro -->
  <h2 class="section-title dark">About</h2>
  <!-- Blog Area -->
  <div class="container">
    <div class="row">
      <div class="col-md-18">
        <div class="page-area">
          <div class="page-cover">
            <%= image_tag "about_us.png" %>
          </div>
          <div class="page-body">
            <h3 class="align-center page-subtitle">Hello</h3>
            <span class="delimiter">
            <i class="icon-delete2"></i>
            <i class="icon-delete2"></i>
            <i class="icon-delete2"></i>
            </span>

            <p class="align-center">Laorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a erat magna. Sed congue mauris lacinia, semper purus vitae, iaculis augue. In quis faucibus nunc, id tempor magna. Maecenas eget vestibulum sapien. Donec consectetur vitae ex sit amet venenatis. In vitae iaculis erat. Vivamus vestibulum varius torto. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique, nisi at porta sagittis, mi neque ornare arcu, vitae gravida arcu turpis vel augue</p>

            <p class="align-center">Curabitur dapibus quam vel arcu euismod, vel imperdiet risus egestas. Quisque vehicula diam in hendrerit dictum. Donec nec nibh nisi. Vestibulum sagittis libero vitae fringilla sollicitudin. Cras magna urna, tempus nec imperdiet a, aliquam ut lacus. Proin tortor enim, vehicula sit amet venenatis ut, luctus ac nisl. Vivamus vehicula nisi sed ipsum cursus venenatis.</p>

            <blockquote>
              <p class="message">"Laorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a erat magna. Sed congue mauris lacinia, semper purus vitae, iaculis augue."</p>
              <cite>Jovenes Programadores</cite>
            </blockquote>

            <p class="align-center">Laorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a erat magna. Sed congue mauris lacinia, semper purus vitae, iaculis augue. In quis faucibus nunc, id tempor magna. Maecenas eget vestibulum sapien. Donec consectetur vitae ex sit amet venenatis. In vitae iaculis erat. Vivamus vestibulum varius torto. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique, nisi at porta sagittis, mi neque ornare arcu, vitae gravida arcu turpis vel augue</p>

            <p class="align-center">Curabitur dapibus quam vel arcu euismod, vel imperdiet risus egestas. Quisque vehicula diam in hendrerit dictum. Donec nec nibh nisi. Vestibulum sagittis libero vitae fringilla sollicitudin. Cras magna urna, tempus nec imperdiet a, aliquam ut lacus. Proin tortor enim, vehicula sit amet venenatis ut, luctus ac nisl. Vivamus vehicula nisi sed ipsum cursus venenatis.</p>
          </div>

          <div class="page-footer">
            <ul class="clean-list share-block">
              <li>
                <a href="#">
                <i class="icon-facebook"></i>
                <span>Facebook</span>
                </a>
              </li>
              <li>
                <a href="#">
                <i class="icon-twitter"></i>
                <span>twitter</span>
                </a>
              </li>
              <li>
                <a href="#">
                <i class="icon-instagram"></i>
                <span>Instagram</span>
                </a>
              </li>
              <li>
                <a href="#">
                <i class="icon-google-plus"></i>
                <span>Google+</span>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>

      <div class="col-md-6 col-lg-5 col-lg-offset-1">
        <aside class="main-sidebar">

          <div class="widget widget_popular_posts">

            <h5 class="widget-title">Popular dishes</h5>

            <ul class="clean-list popular-posts">

          <!--  -->

              <li class="popular-post">
                <%= link_to(image_tag(@recipe1["image_url"], class: "post_img"), @recipe1['source_url'], {class:"post-cover"})%>
                <h5 class="post-tile">
                  <%= link_to(sanitize(@recipe1["title"]), @recipe1['source_url']) %>
                </h5>
              </li>

              <li class="popular-post">
                <%= link_to(image_tag(@recipe2["image_url"], class: "post_img"), @recipe2['source_url'], {class:"post-cover"})%>
                <h5 class="post-tile">
                  <%= link_to(sanitize(@recipe2["title"]), @recipe2['source_url']) %>
                </h5>
              </li>

              <li class="popular-post">
                <%= link_to(image_tag(@recipe3["image_url"], class: "post_img"), @recipe3['source_url'], {class:"post-cover"})%>
                <h5 class="post-tile">
                  <%= link_to(sanitize(@recipe3["title"]), @recipe3['source_url']) %>
                </h5>
              </li> 
                           
          <!--    -->

            </ul>
          </div>

          <div class="widget widget_advertising">
            <a href="#" class="ad-block">
            <img src="img/ad-widget.jpg" alt="ad cover" />
            </a>
          </div>

        </aside>
      </div>

    </div>
  </div>
